body {
  font-family: system-ui;
  background-color: #efefef;
  padding: 2rem 4rem ;
  border-bottom: 2px solid #29213f;
}
header ul{
  list-style: none;
  margin: 2rem;
}
header{
  color: inherit;
  text-decoration: none;
  font-style: normal;
}
a:hover{
  color: hotpink;
  text-decoration: underline;
}
img{
  display: block;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 1rem auto;
  object-fit: cover;
  margin: 1rem auto; 
  object-position: center;
  filter: grayscale(1);
  align-items: center;
}
h1{
  text-align: center;
  color: peru;
  text-decoration: underline;
}
main{
  margin: 2rem 4rem;
}
section{
  margin-bottom: 2rem;
}
section li h3,section ul li{
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}
section li{
  margin: 0.5rem;
}
